<div class="container">
  <h1>Github user details tool</h1>
  <div class="user-details">
    <div *ngIf="user">
      <h2>{{ user.login }}</h2>
      <img [src]="user.avatar_url" alt="Avatar" />
      <p>Name: {{ user.name }}</p>
      <p>Bio: {{ user.bio }}</p>
      <p>Followers: {{ user.followers }}</p>
      <p>Following: {{ user.following }}</p>
      <p>Public Repos: {{ user.public_repos }}</p>
    </div>
    <div *ngIf="error" class="error">{{ error }}</div>
    <input type="text" [(ngModel)]="userName" (keyup.enter)="getUserDetails()" (input)="onInputChange()" placeholder="Enter username" />
    <button [disabled]="detailsButtonDisabled" (click)="getUserDetails()">Get Details</button>
    <button *ngIf="user" (click)="clearUserDetails()">Clear</button>
  </div>
</div>
